<!DOCTYPE html>
<html>
<head>
<h1> Course name form</h1>
</head>
<body>
<h2>All courses which we have: Math, Biology, Geometry, Chemistry, Physics, Geography, Economics, Architecture, Programming, History</h2>
<form action="/all_students_on_course" method="POST">
	<table>
		<tr>
			<td>
				Enter course name to find all students:
			</td>

			<td>
				<input type=”text” name="name">
			</td>
		</tr>
	</table>
	<input type="submit" value="Find all students on this course!">
</form>
</body>
</html>