<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>{{ content }}</h1>
    <h2>{{ "Please chose from the below what you want to do:" }}</h2>
    <p><a href="http://127.0.0.1:5000/students">Show the list of all students</a></p>
    <p><a href="http://127.0.0.1:5000/all_groups_less_stud">Find all groups with less or equals student count</a></p>
    <p><a href="http://127.0.0.1:5000/course_name_to_find_students_form">Find all students related to the course with a given name</a></p>
    <p><a href="http://127.0.0.1:5000/add_new_student_form">Add new student</a></p>
    <p><a href="http://127.0.0.1:5000/delete_student_form">Delete student by ID</a></p>
    <p><a href="http://127.0.0.1:5000/add_student_to_course_form">Add a student to the course (from a list)</a></p>
    <p><a href="http://127.0.0.1:5000/remove_stud_from_course_form">Remove the student from one of his or her courses</a></p>
</body>
</html>